.hotel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hotel-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.book-now {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  background: var(--light-blue);
  padding: 14px 20px;
  font-size: 19px;
  color: #fff;
  border-radius: 4px;
  transition: var(--transition);
  font-weight: bold;
}

.book-now:hover {
  opacity: 0.8;
}

.hotel-title {
  font-size: 28px;
}

.hotel-address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.hotel-distance {
  color: var(--light-blue);
  font-weight: 700;
  font-size: 18px;
}

.hotel-price-highlight {
  color: #008009;
  font-weight: 700;
  font-size: 18px;
}

.hotel-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.hotel-img-wrapper {
  width: 33%;
}

.hotel-img {
  width: 100%;
  transition: var(--transition);
}

.hotel-img:hover {
  opacity: 0.8;
}

.hotel-details {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 20px;
}

.hotel-details-texts {
  flex: 3;
  padding: 20px;
}

.hotel-details-texts > p {
  margin-top: 10px;
  font-size: 18px;
}

.hotel-details-price {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotel-details-price > h1 {
  font-size: 26px;
  color: #555;
}

.hotel-details-price > span {
  font-size: 18px;
}

.hotel-details-price > h2 {
  font-size: 22px;
  font-weight: 400;
}

.hotel-details-price > button {
  border: none;
  background: var(--light-blue);
  padding: 14px 20px;
  font-size: 19px;
  color: #fff;
  border-radius: 4px;
  transition: var(--transition);
  font-weight: bold;
}

.hotel-details-price > button:hover {
  opacity: 0.8;
}

.slider {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-img {
  width: 80%;
  height: 80vh;
}

.close {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 30px;
  color: #ebf3ff;
}

.arrow {
  margin: 30px;
  font-size: 40px;
  color: #ebf3ff;
}
